body{
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    width: 100%;
}
h1{
    pointer-events:stroke;
    color: rgb(128, 121, 73);
    margin: .5em .5em .5em .7em;
}

h2{
    text-align: center;
}

.cuerpo{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.texto{
    margin-left: .5em;
    color: rgb(240, 204, 160);
    text-indent: 1em;
}
nav{
    width: 100%;
}
div .desktop-menu{
    width: 20%;
    align-self:baseline;
    margin: .5em;
    border: .1em dashed rgb(129, 129, 44);
}
ul{
    display: flex;
    flex-direction: column;
}
ul li a, .nav-link, .dropdown-item{
    color: bisque;
}
.nav-link:hover{
    color: rgb(175, 175, 101);
}
.nav-link:active{
    color: rgb(122, 214, 103);
}
ul li a:hover{
    color: rgb(175, 175, 101);
}
ul li a:active{
    color: rgb(122, 214, 103);
}
ul .dropdown-menu{
    background-color: black;
}

.texto{
    width: 80%;
    align-self: flex-start;
    padding: .5em;
    border: .1em dashed rgb(129, 129, 44);

}