body{
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.contenedor{
    width: 100%;
    line-height: 2.4em;
    background-color: black;
    font-family: "Roboto Mono", monospace;
    font-weight: 100;
    font-style:normal;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
h1{
    pointer-events:stroke;
    color: rgb(128, 121, 73);
    margin: .5em .5em .5em .7em;
    font-family: "Orbitron", sans-serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 2.4em;
    letter-spacing: .1em; 
}
.logo{
    width: 6%;
    height: 6%;
    margin: .5em;
}
h2{
    text-align: center;
    padding: 1em;
    
}

.cuerpo{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

nav{
    width: 100%;
    font-family: "Orbitron", sans-serif;
    font-size: 1.1em;
    font-weight: 50;
    font-style: normal;
    letter-spacing: .1em; 
}
div .desktop-menu{
    width: 20%;
    align-self:baseline;
    margin: .5em;
    border: .1em dashed rgb(129, 129, 44);
}
ul{
    display: flex;
    flex-direction: column;
}
ul li a, .nav-link, .dropdown-item{
    color: bisque;
    text-decoration: none;
    
}
.nav-link{
    padding: 0;
    margin: .6em;
}

.dropdown-item{
    font-size: .9em;
}
.nav-link:hover{
    color: rgb(175, 175, 101);
}
.nav-link:active{
    color: rgb(122, 214, 103);
}
ul li a:hover{
    color: rgb(175, 175, 101);
}
ul li a:active{
    color: rgb(122, 214, 103);
}
ul .dropdown-menu{
    background-color: rgb(13, 22, 12);
}

.texto{
    width: 80%;
    align-self: flex-start;
    padding: .5em;
    border: .1em dashed rgb(129, 129, 44);
    margin: .5em;
    padding: 1em;
    color: rgb(240, 204, 160);
    text-indent: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.textoCentrado{
    text-align: center;
}
.parrafoConImagenes{
    width:90%;
    align-self: center;
    padding: .1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.imgCuerpo1{
    width: 30%;
    height: 25%;
}
.imgCuerpo2{
    width: 25%;
    height: 20%;
}
.imgCuerpo{
    margin: .5em;
    padding: .5em;
}
.swiffy-slider{
    display: none;
}

.topnav{
    display: none;
}

/*Estilos de Instalaciones*/
.verInstalaciones{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: .5em;
    flex-wrap: wrap;
}
.verInstalaciones a{
    background-color: #096946;
    border: .5em solid #096946;
    -webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
 	border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .7em;
    margin: .5em;
    width: 30%;
    text-decoration: none;
} /*Cambiar 2nd y 3er child a otro color*/
.verInstalaciones a:hover{
    background-color: #04AA6D;
    border: .5em solid #04AA6D;
    padding: 1.2em;
	-webkit-border-radius: 15px;
  	-moz-border-radius: 15px;
 	border-radius: 15px;
}
.imgVerInstalaciones{
    max-width: 100%;
    margin: .5em;

}
.strongInstalaciones{
    color: #04AA6D;
}
.textoVerInstalaciones{
    color: #022719;
    font-weight: 500;
}
@media (max-width:1024px){
    nav{
        font-size: .8em;
        margin: 1em;
    }
    .cuerpo{
        display: flex;
        flex-direction: column;
        width: 100%;
    } 
    /*Agregar diferencias en el despliegue del menu*/
    .mobile-menu{
        width: 80%;
        align-self: center;   
    }
}

@media (max-width:768px){
    
    .parrafoConImagenes{
        display: none;
    }
    .swiffy-slider{
        display: block;
    }
    .logo{
        width:10%
    }

    .desktop-menu{
        display: none;
    }
    .texto{
        width: 95%;
    }
    .slider-container li img{
        width: 100%;
    }
    /* Estilos del menu de navegación */
    .topnav {
        display: block;
        overflow: hidden;
        background-color: #33333300;
        position: relative;
    }
  
    /* Escondo los links dentro del menu de navegación (excepto por el logo/home) */
    .topnav #myLinks {
        display: none;
    }
  
  /* Estilos de los links del menu */
    .topnav a {
        color: white;
        padding: 1em 2em;
        text-decoration: none;
        font-size: 17px;
        display: flex;
    }
  
    /* Estilos del menu de hamburguesa */
    .topnav a.icon {
        background: black;
        display: block;
        position:absolute;
        right: 0;
        top: 0;
    }
  
    /* Agregar background-color en el mouseover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
  
    /* Estilos de activación de link (o home/logo) */
    .active {
        background-color: #04AA6D;
        color: white;
    }
  
    /*Estilos Instalaciones*/
    .verInstalaciones{
        flex-direction: column;
        max-width: 90%;
    }
    .verInstalaciones a{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: .7em;
        margin: 1em;
        width: 100%;
    }
    .imgVerInstalaciones{
        max-width: 70%;
    }
}